<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btl.findjob.mapper.BoardMapper">

	<select id="getList" resultType="com.btl.findjob.model.BoardDTO">
	<![CDATA[
	select * from board where board_id > 0
	]]>
	</select>
	<insert id="insert">
		insert into board(board_id, board_userid,
		board_title, board_content,
		board_writer)
		values(#{board_id}, 1,
		#{board_title}, #{board_content}, #{board_writer})
	</insert>

	<insert id="insertSelectKey">
		insert into board(board_id, board_userid,
		board_title,
		board_content,board_regdate,board_updateDate,
		board_writer)
		values (#{board_id}, 1, #{board_title},
		#{board_content},now(),now(),
		#{board_writer})
	</insert>

	<select id="read" resultType="com.btl.findjob.model.BoardDTO">
		select * from board where board_id
		= #{board_id}
	</select>

	<delete id="delete">
		delete from board where board_id = #{board_id}
	</delete>

	<update id="modify">
		update board set board_title=#{board_title},
		board_content = #{board_content},
		board_writer = #{board_writer},
		board_updateDate = now() where board_id = #{board_id}
	</update>


	<!-- <select id="getTotalCount" resultType="int"> select count(*) from board 
		where board_id > 0 </select> -->


	<sql id="criteria">
		<if test="type != null">
			<if test="type == 't'.toString()">
				and board_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'c'.toString()">
				and board_content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'w'.toString()">
				and board_writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'tc'.toString()">
				and ( board_title like CONCAT('%', #{keyword}, '%') OR
				board_content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="type == 'tw'.toString()">
				and ( board_writer like CONCAT('%', #{keyword}, '%') OR
				board_content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="type == 'twc'.toString()">
				and ( board_title like CONCAT('%', #{keyword}, '%') OR
				board_writer
				like
				CONCAT('%', #{keyword}, '%')OR board_content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>

	<!-- <sql id="criteria"> <if test="type !=null"> <if test="type == 'T'.toString()"> 
		and board_id like CONCAT('%', #{keyword}, '%') </if> <if test="type == 'C'.toString()"> 
		and board_content like CONCAT('%', #{keyword}, '%') </if> <if test="type 
		== 'W'.toString()"> and board_writer like CONCAT('%', #{keyword}, '%') </if> 
		<if test="type == 'all'.toString()"> and ( T like CONCAT('%', #{keyword},;../, 
		'%') OR C CONCAT('%', #{keyword}, '%') OR W like CONCAT('%', #{keyword}, 
		'%') ) </if> </if> </sql> -->



	<select id="getListWithPaging"
		resultType="com.btl.findjob.model.BoardDTO">
	<![CDATA[
	SELECT board_id, board_title, board_content, board_regdate, board_updateDate,board_writer, board_hit, replycnt
	FROM board 
	where board_id > 0
	]]>
		<include refid="criteria"></include>
	<![CDATA[    
	ORDER BY board_id DESC
	LIMIT #{pageStart}, #{amount}
	]]>

	</select>


	<select id="getTotalCount" resultType="int">
	<![CDATA[  
		select count(*) from board where board_id > 0
		]]>
		<include refid="criteria"></include>
	</select>

	<update id="updateReplyCnt">
		update board set replyCnt = replyCnt + #{amount} where board_id = #{board_id}
	</update>

</mapper>