<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btl.findjob.mapper.CompanyMapper">
	<!--검색시 단순 리스트 가져오는거  -->
	<select id="companyGetList" resultType="com.btl.findjob.model.CompanyInfoDTO">
		SELECT * FROM BTL.COMPANYINFO
		where ci_companyName like concat('%',#{keyword},'%') and ci_id > ${startNum}
		limit 20
	</select>
	<!--검색시 단순 리스트+ 회사,면접리뷰 cnt, follow 유무까지  -->
	<!-- 로그인 구현시 userId 변경 -->
	<select id="companyGetListWithCnt" resultType="com.btl.findjob.model.CompanyListVO">
		SELECT ci.*, ifnull(total,0.0) as companyReviewAvg, ifnull(comreviewcnt,0) as companyReviewCnt ,ifnull(inreviewcnt,0)as interviewReviewCnt, ifnull(follow.follow_id,0) as followId 
		FROM companyinfo ci 
		left join (select cr.ci_id,round(avg(cr_starRt),1) total
		from companyreview cr
		group by cr.ci_id) cr
		on cr.ci_id = ci.ci_id
		left join (select ci.ci_id, ci.ci_companyName,count(*) comreviewcnt 
		FROM companyinfo ci, companyreview cr
		WHERE ci.ci_id = cr.ci_id
		GROUP BY ci.ci_companyName)cc on ci.ci_id = cc.ci_id
		left join (select ci.ci_id, ci.ci_companyName,count(*) inreviewcnt 
		FROM companyinfo ci, interviewreview ir
		WHERE ci.ci_id = ir.ci_id
		group by ci.ci_companyName)ic on ci.ci_id = ic.ci_id
		left join (select * from follow
		) follow  on follow.ci_id = 0
		
		WHERE ci.ci_companyName like concat('%',#{keyword},'%') and ci.ci_id > ${startNum}
		<!-- order by ci_id -->
		limit 20
	</select>
	
	<select id="companyGetListWithCntWithLogin" resultType="com.btl.findjob.model.CompanyListVO">
		SELECT ci.*, ifnull(total,0.0) as companyReviewAvg, ifnull(comreviewcnt,0) as companyReviewCnt ,ifnull(inreviewcnt,0)as interviewReviewCnt, ifnull(follow.follow_id,0) as followId 
		FROM companyinfo ci
		left join (select cr.ci_id,round(avg(cr_starRt),1) total
		from companyreview cr, companyinfo ci
		group by cr.ci_id) cr
		on cr.ci_id = ci.ci_id
		left join (select ci.ci_id, ci.ci_companyName,count(*) comreviewcnt 
		FROM companyinfo ci, companyreview cr
		WHERE ci.ci_id = cr.ci_id
		GROUP BY ci.ci_companyName)cc on ci.ci_id = cc.ci_id
		left join (select ci.ci_id, ci.ci_companyName,count(*) inreviewcnt 
		FROM companyinfo ci, interviewreview ir
		WHERE ci.ci_id = ir.ci_id
		group by ci.ci_companyName)ic on ci.ci_id = ic.ci_id
		left join (select * from follow
		where follow.user_id = (select user.user_id 
		from user where user_email = #{userEmail})) follow  on follow.ci_id = ci.ci_id 
		WHERE ci.ci_companyName like concat('%',#{keyword},'%') and ci.ci_id > ${startNum}
		order by ci_id
		limit 20
	</select>
	<!-- 검색시 리스트에서 follow -->
	<insert id="companyInsertFollow">
		insert into follow (user_id,ci_id) values (
		(select user_id from user 
		where user_email=#{userEmail}),#{ci_id})
	</insert>
	<select id="getFollowId" resultType="int">
		select follow_id from follow
		where user_id = (select user_id from user 
						where user_email=#{userEmail}) and ci_id=#{ci_id}
	</select>
	
	<delete id="companyDeleteFollow">
		delete from follow where follow_id = #{followId}
	</delete>
	
	
	<!-- 팔로우 많은순 기업리스트 -->
	<select id="getManyFollowOrdersList" resultType="com.btl.findjob.model.CompanyListVO">
		select fo.ci_id,ci.ci_companyName  
		from follow fo,companyinfo ci
		where fo.ci_id = ci.ci_id
		group by fo.ci_id
		order by count(fo.ci_id) desc
		limit 4;
	</select>
	
	<!-- 면접 리뷰 많은순  -->
	<select id="getManyInterviewReviewOrdersList" resultType="com.btl.findjob.model.CompanyListVO">
		select count(ir.ci_id),ir.ci_id,ci.ci_companyName 
		from interviewreview ir, companyinfo ci
		where ir.ci_id = ci.ci_id
		group by ci_id
		order by count(ir.ci_id) desc
		limit 4;
	</select>
	
	<!-- 승진및기회가능성 높은순  -->
	<select id="getMostCtOrdersList" resultType="com.btl.findjob.model.CompanyListVO" >
		select ci.ci_companyName, cr.ci_id
		from companyreview cr, category c, companyinfo ci
		where ci.ci_id = cr.ci_id and cr.cr_category = c.cr_category and cr.cr_category = #{category}
		group by cr.ci_id
		order by avg(cr_starRt) desc
		limit 4;
	</select>
	
	<!-- 기업평가 카테고리  -->
	<select id="getCategoryArr" resultType="String">
		select category_name from category 
	</select>
	
</mapper>