<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btl.findjob.mapper.CompanyReviewMapper">

    <!--insert-->
    <insert id="insertCompanyReview">
        insert into companyreview (cr_comment, cr_starRt, cr_regDate, cr_category, user_id, ci_id)
        values (#{cr_comment}, #{cr_starRt}, now(), #{cr_category}, #{user_id}, #{ci_id})
    </insert>

    <!--페이징-->
    <select id="getListWithPaging" resultType="com.btl.findjob.model.CompanyReview">
        select cr_id, cr_comment, cr_starRt, cr_regDate, cr_category, user_id, ci_id
        from companyreview
        where ci_id = #{ci_id}
          AND cr_category = #{cr_category}
        order by cr_id desc
        LIMIT #{companyReviewCriteria.pageStart},#{companyReviewCriteria.amount}
    </select>


    <!--    토탈 카운트-->
    <select id="getCountTotal" resultType="int">
        select count(ci_id)
        from companyreview
        where ci_id = #{ci_id}
    </select>

    <!--    카테고리별 카운트 아이디 이용-->
    <select id="getCountCr" resultType="int">
        select count(ci_id)
        from companyreview
        where ci_id = #{ci_id}
          and cr_category = #{cr_category};
    </select>


    <!--    토탈 평점-->
    <select id="totalStarRtAve" resultType="double">
        select IFNULL(avg(cr_starRt), 0.0)
        from (select cr_starRt
              from companyreview
              where companyreview.ci_id =
                    #{ci_id}) starRt
    </select>

    <!--    카테고리별 평점-->
    <select id="categoryStarRtAve" resultType="double">
        select ifnull(avg(cr_starRt), 0.0)
        from (select cr_starRt
              from companyreview
              where ci_id = #{ci_id} and cr_category = #{cr_category}) starRt
    </select>

    <!--카테고리 코드에 대한 내용-->
    <select id="categoryName" resultType="String">
        select category_name
        from category
        where cr_category = #{cr_categroy};
    </select>

    <!--토탈 카운트-->
    <select id="crTotalCount" resultType="int">
        select count(cr_id)
        from companyreview
        where ci_id = #{ci_id}
    </select>

    <select id="getStarCtn" resultType="int">
        select count(cr_starRt)
        from companyreview
        where ci_id = #{ci_id}
          and cr_starRt = #{cr_starRt}
    </select>

    <select id="get" resultType="com.btl.findjob.model.CompanyReview">
        select *
        from companyreview
        where cr_id = #{cr_id}
    </select>

    <update id="commentModify">
        update companyreview
        set cr_comment    = #{cr_comment},
            cr_starRt = #{cr_starRt},
            cr_category    = #{cr_category}
        where cr_id = #{cr_id}
    </update>

</mapper>