<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btl.findjob.mapper.InterviewReviewMapper">

    <insert id="interviewReviewRegister">
        insert into interviewreview (ir_difficulty, ir_interviewDate, ir_experience, ir_route, ir_title, ir_question, ir_answer, ir_result, ir_resultDate, user_id, ci_id)
        VALUES (#{ir_difficulty}, #{ir_interviewDate},#{ir_experience}, #{ir_route}, #{ir_title}, #{ir_question}, #{ir_answer}, #{ir_result}, #{ir_resultDate}, 31, #{ci_id})
    </insert>

    <select id="getListWithPaging" resultType="com.btl.findjob.model.InterviewReviewDTO">
        select ir_difficulty, ir_interviewDate, ir_experience, ir_route, ir_title, ir_question, ir_answer, ir_result, ir_resultDate, user_id, ci_id
        from interviewreview
        where ci_id = #{ci_id}
        order by ir_id desc
        limit #{interviewReviewCriteria.pageStart}, #{interviewReviewCriteria.amount}
    </select>

    <select id="getCount" resultType="int">
       select count(ir_id) from interviewreview where ci_id = #{ci_id}
    </select>

    <select id="difficultyCnt" resultType="int">
        select count(ir_id) from interviewreview where ci_id = (select ci_id from companyinfo where ci_companyName = #{ci_companyName}) and ir_difficulty = #{ir_difficulty}
    </select>

    <select id="expCnt" resultType="int">
        select count(ir_id) from interviewreview where ci_id = (select ci_id from companyinfo where ci_companyName = #{ci_companyName}) and ir_experience = #{ir_experience}
    </select>

    <select id="resultCnt" resultType="int">
        select count(ir_id) from interviewreview where ci_id = (select ci_id from companyinfo where ci_companyName = #{ci_companyName}) and ir_result = #{ir_result}
    </select>
</mapper>
