<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btl.findjob.mapper.ReplyMapper">

	<select id="read" resultType="com.btl.findjob.model.ReplyDTO">
		select * from reply where reply_id = #{reply_id}
		order by reply_id desc
	</select>

	<insert id="insert">
		insert into reply (board_id, user_id, reply_content, reply_date,reply_updateDate ,reply_writer)
		values (#{board_id}, #{user_id}, #{reply_content},now(),now(), #{reply_writer})
	</insert>

	<update id="update">
		update reply set reply_content = #{reply_content},
		reply_updateDate = now()
		where reply_id = #{reply_id}
	</update>

	<delete id="delete">
		delete from reply where reply_id =#{reply_id}
	</delete>


	<select id="getListWithPaging" resultType="com.btl.findjob.model.ReplyDTO">
		select * from reply
		where board_id = #{board_id}
		order by reply_id desc
		limit #{cri.pageStart}, #{cri.amount}
	</select>

	<select id="getCountByBoard_id" resultType="int">
		select count(reply_id) from reply where board_id =#{board_id}
	</select>


</mapper>
