<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btl.findjob.mapper.SshMapper">

	<!-- 기업 검색 페이지에서 기업클릭시 불러오는 기업정보   -->
	<select id="companyList" resultType="com.btl.findjob.model.CompanyInfoDTO">
		SELECT * FROM BTL.COMPANYINFO
		where ci_companyName = #{ci_companyName}
		limit 1
	</select>

	<!-- companyPersonal -->
	<select id="cpList" resultType="com.btl.findjob.model.CompanyPersonalDTO">
	select *  from BTL.companypersonal 
	where ci_companyName = #{ci_companyName}
	 limit 1
	</select>
	
	
	
	
	<!-- 인원 구하기 -->
	<select id="cptotal" resultType="INT" parameterType="String">
	select cp_totalcnt  from companypersonal where ci_companyName = #{ci_companyName} 
	limit 1
	</select>
	
	<!-- 업력 구하기 -->
	<select id="cpSince" resultType="INT" parameterType="String">
	SELECT max(TIMESTAMPDIFF(YEAR, ci_since, CURRENT_DATE())) 
	FROM  companyinfo 
	where ci_companyName = #{ci_companyName}
	limit 1
	</select>
	
	<!-- 이번달 입사자 구하기 -->
	
	<select id="tmin" resultType="INT" parameterType="String">
	select cp_incnt
	from companypersonal
	where cp_month = (select cp_month  from companypersonal where ci_companyName = #{ci_companyName} limit 1) limit 1
	</select>

	
	<!-- 이번달 퇴사자 구하기 -->
	<select id="tmout" resultType="INT" parameterType="String">
	select cp_outcnt
	from companypersonal
	where cp_month = (select cp_month  from companypersonal where ci_companyName = #{ci_companyName} limit 1) limit 1
	</select>
	
	
	
	<!-- 기업 순위구하기 -->
	
		<!-- 전체 동종산업 -->

		<select id="allcp" resultType="INT" parameterType="String">
		select count(*)  from companyinfo  where ci_industry like concat('%','응용','%')
		</select>
		
		
		<!-- 최신달의 전체 동종산업 -->
		<select id="latestallcp" resultType="INT" parameterType="String">
		select count(ci_companyName)
		from companypersonal 
		where  cp_month = (select cp_month  from companypersonal where ci_companyName = (select ci_companyName from companypersonal  where ci_companyName = #{ci_companyName} limit 1 )  limit 1 ) limit 1  
		</select>
	
	
	
	
	
		<!-- 인원 동종산업 순위-->
		
		<select id="alltotalrank" resultType="INT" parameterType="String">
		<![CDATA[
		select  count(*)
		from companypersonal as A
		where A.cp_totalcnt >= (select cp_totalcnt from companypersonal 
		where ci_companyName = #{ci_companyName} limit 1) and  A.cp_month = (select cp_month  from companypersonal where ci_companyName = #{ci_companyName} limit 1 )
		]]>
		</select>
		

		<!-- 업력 동종산업 순위-->
		<select id="allcprank" resultType="INT" parameterType="String">
			<![CDATA[
		 select count(*) 
		from companyinfo 
		where ci_industry like concat('%','응용','%') and ci_since <= (select ci_since from companyinfo
	    where ci_companyName = #{ci_companyName}) 
			]]>
		</select>
		
		
		<!-- 이번달 입사자 동종산업 순위 -->
		
		<select id="alltminrank" resultType="INT" parameterType="String">
		<![CDATA[
		select  count(*)
		from companypersonal as A
		where A.cp_incnt >= (select cp_incnt from companypersonal 
		where ci_companyName = #{ci_companyName} limit 1) and  A.cp_month = (select cp_month  from companypersonal where ci_companyName = #{ci_companyName} limit 1 )
		]]>
		</select>
	
		<select id="alltmoutrank" resultType="INT" parameterType="String">
		<![CDATA[
		select  count(*)
		from companypersonal as A
		where A.cp_outcnt >= (select cp_outcnt from companypersonal 
		where ci_companyName = #{ci_companyName} limit 1) and  A.cp_month = (select cp_month  from companypersonal where ci_companyName = #{ci_companyName} limit 1 )
		]]>
		</select>
</mapper>